/* FOOTER */
.footer {
    background: #1e293b;
    color: #cbd5f5;
    text-align: center;
    padding: 40px 20px;
    margin-top: 40px;
}

.footer-container {
    max-width: 1000px;
    margin: auto;
}

.footer h3 {
    color: white;
    margin-bottom: 10px;
}

/* LINKS */
.footer-links {
    margin: 15px 0;
}

.footer-links a {
    margin: 0 10px;
    color: #cbd5f5;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: white;
}

/* ICONOS */
.footer-social {
    margin: 15px 0;
}

.footer-social a {
    font-size: 28px;
    margin: 0 10px;
    transition: 0.3s;
     text-decoration: none;
}

/* COLORES */
.footer-social a:nth-child(1) { color: #25D366; } /* WhatsApp */
.footer-social a:nth-child(2) { color: #ffffff; } /* GitHub */
.footer-social a:nth-child(3) { color: #E1306C; } /* Instagram */

/* HOVER */
.footer-social a:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

/* COPYRIGHT */
.copy {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #94a3b8;
}

